<div class="chat_main_top">
  <div class="current_chat_name">
    <%= @room.name %>
  </div>
  <div class="quit_chat">
    <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
  </div>
</div>

<div class="chat_main_middle">
<%= render partial: 'message', collection: @messages %>
</div>

<%# <div class="chat_main_bottom">
  <div class="input_form">
    <input class="text_area" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input class="send_btn" type="submit" value="送信">
</div> %>

<%= form_with model: [@room, @message], class: 'chat_main_bottom', local: true do |f| %>
  <div class="input_form">
    <%= f.text_field :content, class: 'text_area', placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send_btn' %>
<% end %>